/FloydTriangle.class
/InvertedReverseNumberTriangle.class
/NumberSquare.class
/PalindromeNumberPyramid.class
/RepeatedNumberTriangle.class
/ReverseNumberTriangle.class
/RowCenteredPalindromePyramid.class
/SequentialNumberTriangle.class
